version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    ignore:
      - dependency-name: '@loadable/*'
        update-types: ['version-update:semver-major']
      - dependency-name: 'webpack'
        update-types: ['version-update:semver-major']
      - dependency-name: 'winston'
      # https://jira.dev.bbc.co.uk/browse/NEWSWORLDSERVICE-2185: Latest version of eslint has breaking changes
      - dependency-name: eslint
        update-types: ['version-update:semver-major']
      - dependency-name: '@typescript-eslint/eslint-plugin'
        update-types: ['version-update:semver-major']
      # https://jira.dev.bbc.co.uk/browse/WORLDSERVICE-185: Remove dependency on uuid (Opera Mini unsupported packages)
      - dependency-name: 'uuid'
      - dependency-name: '@types/uuid'
      # https://jira.dev.bbc.co.uk/browse/NEWSWORLDSERVICE-1478 react-router-dom
      - dependency-name: 'react-router-dom'
    labels:
      - 'dependencies'
    groups:
      babel:
        patterns:
          - '@babel/*'
          - 'babel-*'
      bbc:
        patterns:
          - '@bbc/*'
      emotion:
        patterns:
          - '@emotion/*'
      next:
        patterns:
          - '@next/*'
          - 'next'
          - 'next-*'
          - '@img-sharp-*'
      loadable-minor-patch:
        patterns:
          - '@loadable/*'
      react:
        patterns:
          - 'react'
          - 'react-dom'
          - '@types/react'
          - '@types/react-dom'
      storybook:
        patterns:
          - '@storybook/*'
          - 'storybook'
          - '@esbuild/*'
      webpack-minor-patch:
        patterns:
          - 'webpack'
          - 'webpack-*'
