name: Simorgh CI - AMP Validation, Lighthouse & Puppeteer Tests
on:
  pull_request:
    branches:
      - '**'
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
    env:
      CI: true
      LOG_LEVEL: 'error'
      BFF_PATH: 'https://web-cdn.test.api.bbci.co.uk/fd/simorgh-bff'
      LIGHTHOUSE_BUILD: true

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache Node Modules
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            ws-nextjs-app/node_modules
          key: node-modules-${{ hashFiles('yarn.lock', 'ws-nextjs-app/yarn.lock') }}

      - name: Install Node Modules
        if: steps.cache.outputs.cache-hit != 'true'
        run: ./scripts/installNodeModules.sh

      - name: Build Simorgh - Express App
        run: yarn build:local

      - name: Start Simorgh Server - Express App
        run: nohup node build/server.js > /dev/null 2>&1 &

      - name: Build Simorgh - Next.JS App
        working-directory: ./ws-nextjs-app
        run: yarn build:local

      - name: Start Simorgh Server - Next.JS App
        working-directory: ./ws-nextjs-app
        run: PORT=7081 nohup node build/standalone/ws-nextjs-app/server.js &

      # TEMP: fail faster on CI
      # - name: Run AMP Validator
      #   run: yarn amp:validate

      # - name: Run Lighthouse
      #   run: yarn lighthouse

      - name: Run Puppeteer Tests
        run: |
          npx puppeteer browsers install chrome
          sudo apt-get install -y xvfb
          Xvfb -ac :99 -screen 0 1280x1024x16 2>/dev/null 1>&2 & 
          export DISPLAY=:99
          yarn test:puppeteer:local
          yarn test:puppeteer:test
          yarn test:puppeteer:live
